
@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),  
  	   url('Gilroy-RegularItalic.woff') format('woff'), 
  	   url('Gilroy-RegularItalic.ttf')  format('truetype'), 
  	   url('Gilroy-RegularItalic.svg#Gilroy-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),  
       url('Gilroy-Medium.woff') format('woff'), 
       url('Gilroy-Medium.ttf')  format('truetype'), 
       url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
