$font_normal: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font_padrao: 'Gilroy-RegularItalic'!important;
$font_medium: 'Gilroy-Medium'!important;
$font_bold: 'Gilroy-Bold'!important;

$font_itc: 'ITC-Avant-Garde-Gothic-Std-Book' !important;
$font_itc_condensed: 'ITC-Avant-Garde-Gothic-Std-Book-Condensed' !important;
$font_itc_extra_light: 'ITC Avant Garde Gothic Std Extra Light' !important;

$font_ubuntu_light: 'Ubuntu-Light' !important;

$color1: #2d5184;
$color2: #3b5d8c;
$color12: #293b69;
$color13: #3c6299;
$color3: #f3ca30;
$color4: #FFFFFF;
$color5: #e5e6e7;
