

@media (max-width: 1199px) {
	.header {
		.menu{
			margin-top: 28px;
			ul{
				padding: 15px 30px 0 20px;
			}
		} 
	}
	
	.apresentacao{
	    .triangles{
	        .list{
	            li{
	                margin: 0 55px;
	                .line{
	                    width: 230px;
	                    height: 230px;
	                    margin-top: -115px;
	                    margin-left: -115px;
	                }
	                .box{	                    
	                    width: 180px;
	                    height: 180px;
	                    img{
	                        width: 300px;
    						margin: -60px 0 0 -60px;
	                    }
	                }
	                p{
	                    bottom: -110px;
	                }
	            }//li
	        }//list
	    }//triangles
	}//apresentacao

}//1199


@media (max-width: 991px) {
	.menu{ display: none!important; }
	.header{
		.container{ width: 100%; }
	}
	.apresentacao .triangles .list li{ 
		width: 100%; 
		margin: 0 0 190px 0;
	}
	.apresentacao .triangles .list .box{ margin: 0 auto; }
	.apresentacao .triangles{ margin-bottom: -50px; }
	.article_left{ margin-bottom: 30px; }
	.footer{
	    p{
	        text-align: center;
	    }
	    .tel{
	        padding-left: 0;
	    }
	    a{
	        float: none;
	        margin: 15px auto 0;
	    }
	}
	.produto .box {
	    position: relative;
	    top: 0;
	    width: 100%;
	    padding: 0;
	    margin-bottom: 30px;
	}
	.sobre h3{
		margin-top: 0;
	}
}//991

@media (max-width: 767px) {
	.header{
		#logo{ max-width: 200px; }
		.hamburger{ top: -67px; }
	}
}//767

@media (max-width: 580px) {
	.apresentacao .article_right p{
		position: relative;
		width: 100%;
		padding: 0;
		top: 0;
		right: 0;
	}
}//580

@media (max-width: 480px) {
	.header{
		#logo{ max-width: 160px; }
		.hamburger{ 
			top: -57px; 
			right: 0;
		}
	}
}//480

//Min-Width

@media (min-width: 992px) {
	.responsive_menu, .hamburger{
		display: none!important;
	}
} 
